<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyBlog</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddBlogServlet</display-name>
    <servlet-name>AddBlogServlet</servlet-name>
    <servlet-class>keven.servlet.AddBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBlogServlet</servlet-name>
    <url-pattern>/addblog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBlogServlet</display-name>
    <servlet-name>GetBlogServlet</servlet-name>
    <servlet-class>keven.servlet.GetBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBlogServlet</servlet-name>
    <url-pattern>/getblog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>keven.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminBlogListServlet</display-name>
    <servlet-name>AdminBlogListServlet</servlet-name>
    <servlet-class>keven.servlet.AdminBlogListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminBlogListServlet</servlet-name>
    <url-pattern>/adminbloglist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBlogServlet</display-name>
    <servlet-name>DeleteBlogServlet</servlet-name>
    <servlet-class>keven.servlet.DeleteBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBlogServlet</servlet-name>
    <url-pattern>/deleteblog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreEditBlogServlet</display-name>
    <servlet-name>PreEditBlogServlet</servlet-name>
    <servlet-class>keven.servlet.PreEditBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreEditBlogServlet</servlet-name>
    <url-pattern>/preeditblog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostEditBlogServlet</display-name>
    <servlet-name>PostEditBlogServlet</servlet-name>
    <servlet-class>keven.servlet.PostEditBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostEditBlogServlet</servlet-name>
    <url-pattern>/posteditblog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>keven.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/category</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreAddBlogServlet</display-name>
    <servlet-name>PreAddBlogServlet</servlet-name>
    <servlet-class>keven.servlet.PreAddBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreAddBlogServlet</servlet-name>
    <url-pattern>/preaddblog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentServlet</display-name>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>keven.servlet.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>keven.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserHomeServlet</display-name>
    <servlet-name>UserHomeServlet</servlet-name>
    <servlet-class>keven.servlet.UserHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserHomeServlet</servlet-name>
    <url-pattern>/userhome</url-pattern>
  </servlet-mapping>
</web-app>